.navbar{



background: #ff4b1f; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ff4b1f , #ff9068); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #ff4b1f , #ff9068); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
min-height:100vh;


}

.co{
  color:white;
}

#down{
  background: white;
}

.shadow {
  box-shadow: 5px 5px 6px grey; }

.cards{
  background: white;
  padding: 2%;
  border-radius: 1%;
}

footer{
  background: #ff4b1f; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ff4b1f , #ff9068); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ff4b1f , #ff9068); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 3%;

}
